/* Mixins */

@mixin font-poppins {
  font-family: "Poppins", sans-serif;
}

@mixin button-styles($background, $color) {
  background: $background;
  color: $color;
  border-radius: 10px;
  border: 0;
}

/* Variables */

$color-primary: #fe5802;
$color-secondary: #df018a;
$color-accent: #6a0fd2;
$color-background: #000;
$color-name: #fafafa;